<h4 class="center-align light-green-text text-darken-2">
  {{fa-icon "lightbulb-o"}} Nhấp menu để xem
</h4>
<div class="row">
  <div class="col s12 offset-m1 m10">
    <div class="card blue-grey darken-1">
      <div class="card-content">
          <span class="card-title white-text">hoặc chọn thông số dưới đây</span>
          <form>
            <div class="row">
              <div class="col s12 m5">
                <label for="first_name">Thông số cần cải tiến</label>
                {{#power-select
                  options=model
                  selected=improved
                  allowClear=true
                  onchange=(action (mut improved))
                  placeholder="Xin chon thong so can cai tien"
                as |params|}}
                  {{params.id}}- {{params.title}}
                {{/power-select}}
              </div>
              <div class="col s12 m2 center-align white-text">
                {{fa-icon "plus"}}
              </div>
              <div class="col s12 m5">
                <label for="first_name">Thông số cần khắc phục</label>
                {{#power-select
                  options=model
                  selected=preserved
                  allowClear=true
                  onchange=(action (mut preserved))
                  placeholder="Xin chon thong so can khac phuc" as |params|}}
                  {{params.id}}- {{params.title}}
                {{/power-select}}
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                {{md-btn text='Gợi ý'
                action='showSolutions'
                icon='fa fa-hand-o-right'
                iconPosition='right'
                buttonType='large'
                class='deep-orange darken-2 white-text'}}
              </div>
            </div>
          </form>
          {{outlet}}
      </div>
    </div>
  </div>
</div>